* {
    box-sizing: border-box;
    text-align: center;
}
form{
    text-align: center;
    padding-bottom: 20px;
}
body {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A598A6;
    background-image: url("../images/backgroundBall.png");
}
header, main, footer {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
  font-family: DiplomataSC;
  font-size: 70px;
  color: #37323e;
  text-shadow: 0 0 15px #FDF8E2;
}
button{
    font-size: 18px;
    height: 120px;
    width: 120px;
    background-color: black;
    color: white;
}
#eightBall{
    text-align: center;
    position: relative;
}
@keyframes shakeImg {
    0% { transform: translate(1px, 1px) rotate(5deg); }
    20% { transform: translate(-3px, 0px) rotate(10deg); }
    30% { transform: translate(3px, 2px) rotate(-10deg); }
    50% { transform: translate(-1px, 2px) rotate(-20deg); }
    70% { transform: translate(3px, 1px) rotate(-25deg); }
    90% { transform: translate(1px, 2px) rotate(10deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
}
#backBall {
    animation: shakeImg 0.5s;
    animation-iteration-count: infinite;
}
.backClass{
    animation: shakeImg 0.5s;
    animation-iteration-count: infinite;
}
img{
    margin: auto;
    width: 685px;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
#answerSpace {
    font-size: 50px;
    list-style: none;
    color: white;
    position: absolute;
    top: 305px;
    right: 540px;
    left: 500px;
    animation: fadeIn linear 4.5s;
}
#questSpace{
    list-style: none;
    font-size: 70px;
}
