body{
    margin: auto;
    max-width: 1200px;
}
button{
    height: 120px;
    width: 120px;
    background-color: black;
    color: white;
}
#eightBall{
    padding-top: 50px;
    text-align: center;
    position: relative;
}
#backBall{
    margin: auto;
    width: 660px;
}
li {
    font-size: 40px;
    list-style: none;
    color: white;
    position: absolute;
    top: 450px;
    right: 500px;
    left: 500px;
}
