* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #A598A6;
  background-image: url("../images/backgroundBall.png");
}

header, main, footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  display: grid;
  grid-area: header;
  font-family: DiplomataSC;
  font-size: 70px;
  color: rgb(35 30 55 / 70%);
  /* text-shadow: 0 0 15px #FDF8E2; */
  margin-top: 0;
}

.container {
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
    'header header header'
    'left middle right'
    'left middle right';
}

.column {
  height: 100%;
  border-radius: 40px;
  background-color: #A598A6;
  outline: solid #37323e6a;
  box-shadow: 0 0 15px #FDF8E2;
  padding: 15px;
  margin: 5px;
}

.column h2 {
  font-family: Yipes;
  padding-bottom: 5px;
  font-variant: small-caps;
  font-size: 40px;
}

.column img {
  border-radius: 15px;
  display: inline;
}

.column p {
  padding-top: 20px;
}

footer {
  text-align: center;
}

footer li {
  list-style-type: none;
  display: inline;
}

footer a, footer p {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
