* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #A598A6;
  background-image: url("../images/backgroundBall.png");
}

header, main, footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

#nav-btn {
  width: 50px;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(250,250,250);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.2);
  font-size: 30px;
}

h1 {
  display: grid;
  grid-area: header;
  font-family: DiplomataSC;
  font-size: 60px;
  color: #37323e;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
  margin-top: 0;
  margin-top: 0;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
    'header header header'
    'left middle right'
    'left middle right';
}

.column {
  height: 600px;
  border-radius: 40px;
  background-color: rgb(250,250,250);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
  padding: 15px;
  margin: 5px;
}

footer {
  text-align: center;
}

footer li {
  list-style-type: none;
  display: inline;
}

footer a, footer p {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
