*{
  box-sizing: border-box;
}

body {
  background-color: #A598A6;
  background-image: url("../images/backgroundBall.png");
}

h1 {
  font-family: 'Diplomata SC', cursive;
  color: #FDF8E2;
  font-size: 70px;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Diplomata SC', cursive;
  color: #FDF8E2;
  font-size: 65px;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
}

#home-image {
  width: 60vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  outline: solid #0000000a;
}

#crystalball {
  width: 600px;
  margin-bottom: 200px;
}

#questionmarks {
  width: 50vw;
  display: flex;
  justify-content: center;
}
