*{
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #A598A6;
  background-image: url("../images/backgroundBall.png");
}

header, main, footer {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-family: DiplomataSC;
  font-size: 70px;
  color: #37323e;
  text-shadow: 0 0 15px #FDF8E2;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

h2 {
  margin-top: 0;
  padding-top: 0;
  font-family: DiplomataSC;
  font-size: 60px;
  color: #37323e;
  text-shadow: 0 0 15px #FDF8E2;
  display: flex;
  justify-content: center;
}

#home-image {
  width: 60vw;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  outline: solid #37323e8d;
  box-shadow: 0 0 15px #FDF8E2;
}

#crystalball {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

#questionmarks {
  width: 50vw;
  display: flex;
  justify-content: center;
}

#textHolder {
  text-align: center;
  position: relative;
}

#cballList{
  list-style: none;
  position: absolute;
  top: 450px;
  margin-left: 400px;
}

main button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  border: 2px solid #FDF8E2;
  margin-bottom: 20px;
  background-color: rgb(158, 55, 141);
  border-radius: 10px;
  width: 100px;
  height: 75px;

}
