@font-face {
  font-family: LetterMagic;
  src: url(LetterMagic.ttf);
}

@font-face {
  font-family: Lovecraft;
  src: url(Lovecraft.ttf);
}

@font-face {
  font-family: Aquila;
  src: url(Aquila.ttf);
}

@font-face {
  font-family: Yipes;
  src: url(yipes.ttf);
}